# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
mriqc.egg-info/**/*
mriqc.egg-info
.eggs/**/*
.eggs
src/**/*
src/

# releasing
Makefile

# git
.gitignore
.git/**/*
.git

# other
agave/**/*
agave
notebooks/**/*
notebooks

# CircleCI venv
venv/**/*
venv/