# .travis.yml
language: python
python:
  - 2.7
  - 3.3
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  coverage run --source=mriqc setup.py test
after_success:
  coveralls