#documentation
recursive-exclude .circleci/ *
recursive-exclude .github/ *
recursive-exclude .git/ *
recursive-exclude .maint/ *
recursive-exclude docker/ *
recursive-exclude docs/ *
recursive-exclude test/ *

exclude .*
exclude Dockerfile

#data
recursive-include mriqc/data *
