mock
numpy
future
matplotlib
nibabel
niworkflows
pandas
dipy
jinja2
seaborn
PyYAML
nitime
nilearn
sklearn
scikit-learn
nose
doctest-ignore-unicode
sphinx>=1.4
svgutils
-e git+https://github.com/nipy/nipype.git@master#egg=nipype
-e git+https://github.com/poldracklab/niworkflows.git@master#egg=niworkflows
