-e git+https://github.com/nipy/nipype.git@b52524e2fb64d1f4011c8f95a569ef40b6709e3b#egg=nipype
-e git+https://github.com/poldracklab/niworkflows.git@323bc4f28a39545bc36ed821497f5315d7ebff0b#egg=niworkflows
